<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>062DD0E6-B858-49F4-9940-52A763AA7A63</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>maps</string>
			<key>text</key>
			<string>Search Google Maps for {query}</string>
			<key>url</key>
			<string>https://www.google.co.uk/maps?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3CA1CFDA-E2F3-4DDB-9108-243C998C54A8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>node</string>
			<key>text</key>
			<string>Search NodeJS for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q=node+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>54D74956-FD86-4ACA-BFD7-348E6007C797</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mongo</string>
			<key>text</key>
			<string>Search MongoDB for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q=mongodb+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5AC77D03-997B-4009-9C38-76CAC0604427</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>es</string>
			<key>text</key>
			<string>Search ES6 for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q=es6+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B7411709-A70B-48EB-A5DE-7E9F668D9362</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pg</string>
			<key>text</key>
			<string>Search Postgres for '{query}'</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q=postgresql+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
